@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin wrapper {
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: .5rem;
  right: 0;
}
@mixin backgroud {
  background-color: #f1f1f1;
  position: absolute;
  top: 0.44rem;
  bottom: 0;
  left: 0;
  right: 0;
}